/* Example
 *
 * Please fill this out and rename to 'env.js'
 */

var HOST_DSN = "https://c98765@o12345.ingest.sentry.io/12345";
var HOST_RELEASE = "host-1.0";
var HOST_PROJECT_URL = "https://sentry.io/organizations/org12345/issues/?project=12345";

var MICRO_DSN = "https://c12345@o12345.ingest.sentry.io/98765";
var MICRO_RELEASE = "micro-1.0";
var MICRO_PROJECT_URL = "https://sentry.io/organizations/org12345/issues/?project=98765";

var BACKEND = "https://backend-instr-with-sentry.com/that-returns-http-500"

